@import "../../shared/_variables";
@import "../../shared/_controls";


.page-header {
    p {
        padding-top: 30px;
    }

    h1 {
        margin: 0px;
        font-size: 4.5rem;
        color: #204289;
        font-weight: 600;
        line-height: 1.2;
        padding-top: 10px;
    }

    .links {
        display: flex;
        gap: 50px;
        align-items: center;
        padding-top: 20px;
        a {
            text-decoration: underline;
        }
    }

    #note {
        padding-top: 100px;
    }
}
