@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/pages/home/home.css" rel="stylesheet" asp-append-version="true" />

<section class="page-header">
    <div class="row">
        <div class="column">
            <p class="call-to-action">Routine cleanings at your convenience</p>
            <h1>We're open and welcoming patients.</h1>
            <p>We have implemented a number of safety protocols and measures to ensure the safety of both our patients and our team.</p>
            <div class="links">
                <div class="button-dark">Book Online</div>
                <a>Contact Us</a>
            </div>

            <p id="note"><i class="fas fa-arrow-circle-right call-to-action"></i><b> No Insurance?</b> Get your preventive care for a low monthly fee.</p>
            <span class="dot1"></span>
            <img class="img-face" src="~/images/face.png" />
        </div>
    </div>
    <span class="dot2"></span>
    <img class="img-hand" src="~/images/hand-dental-tool.png" />
</section>
<section id="section-headline" class="section-light">
    <div class="row">
        <div class="box">
            <img src="~/images/Icon1.png" />
            <ul>
                <li><h2>Free</h2></li>
                <li><p>Dental Implant Consultation</p></li>
            </ul>
        </div>
        <div class="box">
            <img src="~/images/Icon2.png" />
            <ul>
                <li><h2>£395</h2></li>
                <li><p>Custom Teeth Whitening Trays</p></li>
            </ul>
        </div>
        <div class="box">
            <img src="~/images/Icon3.png" />
            <ul>
                <li><h2>£2900</h2></li>
                <li><p>Single Dental Implant & Crown</p></li>
            </ul>
        </div>
    </div>
    <hr />
</section>
<section id="section-mission" class="section-light">
    <div class="row">
        <div class="column">
            <p class="call-to-action">Our Mission</p>
            <h1>Serving Tangmere & West Sussex Area</h1>
            <p>We are committed to providing exceptional dental care in a comfortable and relaxed atmosphere. Our goal is to create long-lasting relationships to help better our patients 'oral health and improve their well-being.'</p>
            <p>We take pride in providing a comfortable and relaxing atmosphere to ensure that your dental care will be provided in a "no-pressure" environment. We will always be sure to thoroughly explain your options, risks, and benefits of treatment.</p>
            <div class="links">
                <a class="call-to-action">Learn More <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="column text-center">
            <img src="~/images/tangmeredentaltools.png" />
        </div>
    </div>
</section>
<section id="section-single-review" class="section-dark">
    <div class="row">
        <div class="column img-container">
            <img src="~/images/review.jpeg" />
        </div>
        <div class="column single-review-text">
            <div class="quote-marks">
                <div class="square"></div>
                <div class="slanted-rectangle"></div>

            </div>            
            <p>"I've visited this practice twice now. I joined here, even though it is quite some distance from me, as my son recommended this practice. He knows I have melt downs when I go into a dentists and thought that this place might be able to help. He was right, everyone there couldn't have been more understanding. Booked my 3rd appointment.'"</p>
            <div class="note">
                <b>Michele S.</b>
                <br />
                <small>Google Review</small>
            </div>
        </div>        
    </div>
</section>