@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/pages/home/home.css" rel="stylesheet" asp-append-version="true" />

<section class="page-header">
    <div class="row">
        <div class="column">
            <p class="call-to-action">Routine cleanings at your convenience</p>
            <h1>We're open and welcoming patients.</h1>
            <p>We have implemented a number of safety protocols and measures to ensure the safety of both our patients and our team.</p>
            <div class="links">
                <div class="button-dark">Book Online</div>
                <a>Contact Us</a>
            </div>

            <p id="note"><b>No Insurance?</b> Get your preventive care for a low monthly fee.</p>
        </div>
    </div>
</section>
<section class="section-light">
    <div class="row">
        <div class="column">
            <ul>
                <li>Dental Implant Consultation</li>
                <li>Custom Teeth Whitening Trays</li>
                <li>Single Dental Implant & Crown</li>
            </ul>
        </div>
    </div>
</section>